[Unit]
Description=Beslighthouse
After=network.target
 
[Service]
#WorkingDirectory=/opt/beslighthouse
ExecStart=/usr/lib/blrestapi.sh start
ExecStop=/usr/lib/blrestapi.sh stop
#Restart=always
#RestartSec=10
 
[Install]
WantedBy=multi-user.target
